@import url("https://fonts.googleapis.com/css?family=Gorditas");
@import url("https://fonts.googleapis.com/css?family=Kurale");

/** Agrega la fuente 'Gorditas' a los autores de los mensajes de chat **/
.simplebar-scroll-content {
  font-family: "Gorditas";
  font-weight: 700;
  font-size: 45px;
  line-height: 1.6;
}

/** Agrega la fuente 'Kurale' al texto de los mensajes de chat **/
/** Permite ver iconos **/
.text-fragment:not(.chat-line__message--emote-button) {
  font-family: "Kurale";
  font-weight: 700;
  font-size: 45px;
  line-height: 1.6;
}

.chat-input,
.chat-room__notifications,
.chat-room__viewer-card,
.hMQljH,
.stream-chat-header,
.bMXbNC,
.fYQDgF,
[data-a-target="chat-welcome-message"] {
  display: none !important;
}

body {
  color: #ffffff !important;
  margin: 0 auto !important;
  overflow: hidden !important;
  text-shadow: -1px -1px 1px #000000, -1px 1px 1px #000000, 1px -1px 1px #000000,
    1px 1px 1px #000000 !important;
}

/** Agrega fondo transparente **/
html,
body,
.room-selector,
.room-selector__header,
.twilight-minimal-root,
.tw-root--theme-light,
.popout-chat-page,
.chat-room,
.tw-c-background-alt,
.chat-container,
.ember-chat-container {
  background: rgba(0, 0, 0, 0) !important;
  background-color: rgba(0, 0, 0, 0) !important;
}

/** También borraba otro elemento pero no me acuerdo **/
.hDgGYp {
  display: none !important;
}

/** En principio creo que era para borra otro element, habrá que buscarlo **/
.iwRBzz {
  display: none !important;
}

.simplebar-scrollbar {
  display: none !important;
}

/** Intenta hacer que los mensajes salgan siempre desde arriba **/
.chat-scrollable-area__message-container {
  flex-direction: column-reverse;
}

.chat-line__status {
  display: none !important;
}

/** Borrar los anuncios de raid por ejemplo **/
.announcement-line {
  display: none !important;
}

/** Borrar los replys del chat hacia otras personas (menciones) **/
/**.reply-line--mentioned {
  display: none !important;
} **/

/** Borra las badges de los usuarios de chat **/
.chat-badge {
  display: none !important;
}

/** Elimina las notificaciones de suscripción y suscripción de Twitch **/
.user-notice-line {
  display: none !important;
}

.community-highlight {
  display: none !important;
}
